{% extends 'base.html.twig' %}

{% block body %}

<!--source: Code Review Videos -->

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Welcome to e-learning courses</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
              integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
              crossorigin="anonymous">
        <link rel="stylesheet" href="css/mystyle.css" />

    </head>

    <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="/">Home</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/course/">List of courses</a>
                        </li>

                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <main role="main" class="container main">
        <div>
            <h1>Welcome to e-learning courses.</h1>
            <p>We are IT company offering number of courses online delivered by top lectures within the field.
            <br>
                Please go to List of courses to browse though our offer.
            </p>

        </div>
    </main>
    </body>
    </html>

{% endblock %}