{% extends 'base.html.twig' %}

{% block body %}

    <h1>Admin home</h1>

    What do you want to review?
    <div class="container">
        <ul>
        <li><a class="courses_link" href="/user/">Users</a></li>
        <li><a class="courses_link" href="/course/list">Courses</a></li>
        </ul>
    </div>

{% endblock %}



